<phpunit
    bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    verbose="true"
    strict="false">

    <testsuite name="nswdpc/silverstripe-okta-boilerplate">
        <directory>tests/</directory>
    </testsuite>

    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!-- use envvarset in your YML files -->
        <env name="SS_TEST" value="1"/>
        <var name="runningtests" value="true"/>
    </php>

</phpunit>
