<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <testsuite name="nswdpc/silverstripe-okta-boilerplate">
    <directory>tests/</directory>
  </testsuite>
  <groups>
    <exclude>
      <group>sanitychecks</group>
    </exclude>
  </groups>
  <php>
    <!-- use envvarset in your YML files -->
    <env name="SS_TEST" value="1"/>
    <var name="runningtests" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">tests/</directory>
    </exclude>
  </source>
</phpunit>
